/* style sheet for html file in ../html/december.html */

/* Apply basic CSS to the webpage */
* {
  /* For everything in the page: remove all margin and paddings, add a box */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: cursive;
  overflow-y: hidden;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/*Starting to style the nav bar. New Property - flexbox:
canvas where you can draw certain things */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: dodgerblue;
  color: black;
  border-radius: 3px;
}

.navlinks a {
  /* Anchor tags from navlinks class*/
  color: white;
}

/*Styling the logo */
.logo {
  font-size: 32px;
  color: goldenrod;
}

.logo img {
  height: 40px;
}

/*Navbar menu */
.menu {
  display: flex;
  gap: 1em;
  font-size: 12px;
}

.menu li {
  padding: 5px 14px; /*Top and bottom, left and right*/
}

/*Working on transitions. Gives an animation when you hover over one of the links*/
.menu li:hover {
  background-color: silver;
  border-radius: 5px;
  transition: 0.3s ease; /*After a .3 second delay, ease in*/
}

.menu li {
  padding: 5px 10px; /*After this transition goes on, change the padding back to normal*/
}

/*Dropdown menu for Page Navigation*/
.navPages {
  position: relative;
  padding: 0;
  text-decoration: none;
}

.navPages:hover .dropdown {
  display: block;
  color: black;
  background-color: yellow;
}

.dropdown2 {
  background-color: dodgerblue;
  padding: 0.5em 0;
  right: 0px;
  position: absolute;
  display: none;
  border-radius: 8px;
  top: 15px;
}

.dropdown2 li + li {
  /* li + li siblings */
  margin-top: 0px;
}

.dropdown2 li {
  padding: 0.5em 1em;
  width: 7.5em;
  text-align: center;
}
.dropdown2 li + li:hover {
  background-color: silver;
}

.navPages:hover .dropdown2 {
  display: block;
}

/*Dropdown menu for Delete Reminder*/
.delete {
  position: relative;
  padding: 0;
}

.dropdown {
  background-color: dodgerblue;
  padding: 0.5em 0;
  position: absolute;
  display: none;
  border-radius: 8px;
  top: 15px;
}

.dropdown li + li {
  margin-top: 0px;
}

.dropdown li {
  padding: 0.5em 1em;
  width: 7.5em;
  text-align: center;
}

.dropdown li:hover {
  background-color: yellow;
}

.delete:hover .dropdown {
  display: block;
}

/* Color of the Create and Delete buttons + changing color when hovering */
.delone_btn button {
  background-color: dodgerblue;
  color: white;
  border: none;
}

.delone_btn button:hover {
  background-color: yellow;
  color: black;
}

.delmult_btn button {
  background-color: dodgerblue;
  color: white;
  border: none;
}

.delmult_btn :hover {
  background-color: yellow;
  color: black;
}

.create_btn button {
  background-color: dodgerblue;
  border: transparent;
  color: white;
  font-size: 11px;
}

.create_btn :hover {
  background-color: silver;
}

/*Style the checkbox and then the hamburger menu icon */
input[type="checkbox"] {
  display: none;
}

/*Hamburger menu icon*/
.hamburger {
  display: none; /*default none since we don't want these to show on computer sites. Only for mobile*/
  font-size: 24px;
  user-select: none;
}

/*Figure out what device is accessing our webpage
CSS Media queries. 760 roughly the size for desktops*/
@media (max-width: 760px) {
  .menu {
    display: none;
    position: absolute;
    background-color: thistle;
    right: 0;
    left: 0; /*remove right and left margins*/
    text-align: center;
    padding: 16px 0;
  }
  .menu li:hover {
    display: inline-block;
    background-color: darksalmon;
    transition: 0.3s ease; /*Doing same transitions for mobile devices*/
  }

  .menu li + li {
    /*li items adjacent to each other*/
    margin-top: 15px;
  }
  input[type="checkbox"]:checked ~ .menu {
    display: block;
  } /*if the input type of type checkbox is checked, we are displaying the menu now, as a block*/

  .hamburger {
    display: block;
  }
  .dropdown {
    left: 40%;
    top: 30px;
    transform: translateX(35%);
    /*Menu items needs to keep moving to the left size*/
  }
  .dropdown li:hover {
    background-color: beige;
  }
}

/* CSS for the Calendar */

body {
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
  text-align: center;
  font-style: oblique;
  /* position property */
  position: relative;
  /* position offset top and left */
  top: 25%;
  left: 2%;
}

/* div container for calender  */
.calendar_container {
  position: relative;
  top: 75%;
  left: 20%;

  /* box model properties */
  border: 20px;
  margin: auto;
  padding: 5px;
}

/* Styling the table */
#calendar_table {
  color: rgb(12, 9, 2);
  background-color: black;

  /* separation between coloumns */
  border-spacing: 2px;

  /* making table borders */
  border: 2px solid black;

  /* table width */
  width: 55%;
  height: 80%;
}

/* Making the Day holders (top of every column) pink in background with white text */
#calendar_table thead {
  color: white;
  background-color: magenta;
}

/* Every element thats the nth child (aka whole table) is white */
tbody tr:nth-child(n) {
  background-color: white;
}

tbody tr:nth-child(1) {
  /*First row (of previous month dates) is greyed out */
  background-color: lightgray;
}

tbody tr:nth-child(6) {
  /*Last row (of future month dates) is greyed out */
  background-color: lightgray;
}

/* Overwriting the greyed out members of the first week that are actually a part of December */
.firstofMonth {
  background-color: white;
}

.snd {
  background-color: white;
}
.trd {
  background-color: white;
}

/* Spacing between cells */
#calender_table th,
#calender_table td {
  margin: 2px;
  padding-bottom: 2px;
}

/* Styling the Month text */
#calendar_table caption {
  background-color: white;
  color: silver;
  font-weight: bolder;
  font-size: 150%;
  border-radius: 25px 25px 0 0;
  border: 2px solid black;
}

#calendar_table td {
  width: 100px;
  height: 110px;
  vertical-align: top;
}

/* Hiding set reminders until you hover over the date */
#calendar_table span {
  display: block;
  text-align: left;
  color: rgb(146, 66, 202);
  visibility: hidden;
}

/* Showing reminder content when you hover over the date (content is within the span) */
#calendar_table td:hover > span {
  visibility: visible;
}

/*Button code*/
.create,
.delone_btn,
.delmult_btn {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* this is a neat effect */
}

/* CSS for hiding the User Input HTML for Create and Delete Reminders */
.hide {
  display: none;
}

/* Show user input blocks for Create and Delete Reminders */
.show {
  display: block;
}

/* Styling Christmas Day */
.chrimmy {
  color: white;
  background-color: green;
}

/* CSS for the Previous Month anchor tag */
.changeMonth {
  text-align: right;
  margin-right: 380px;
  margin-top: 5px;
}

/* CSS for New Years Eve - white background when no reminder is set */
.defaultny {
  background-color: white;
}

/* When the user sets a reminder here (even if they delete it), the background turns into a celebratory firework, 
and the text is gold */
.goldboi {
  /* background-color: black; */
  color: gold;
  background-image: url("https://www.ci.crowley.tx.us/sites/default/files/styles/full_node_primary_extra_wide/public/imageattachments/fire/page/9281/fireworks-istock.jpg?itok=VvNPfv1X");
  background-size: cover;
}
