/* This is the style sheet for index.html (Home Page)*/
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

h1 {
  font-size: 40px;
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 50%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.pupshow {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.pupshow:hover {
  background-color: #555;
}

.github {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.github:hover {
  background-color: #555;
}

.calendarintro {
  padding: 1em 2em;
  font-size: 20px;
  margin: 40;
}

.navi a {
  float: left;
  padding: 0em 4em 1em 3em;
  font-size: 18px;
}

input[type="checkbox"] {
  display: none;
}

/*Hamburger menu icon*/
.hamburger {
  display: none; /*default none since we don't want these to show on computer sites. Only for mobile*/
  font-size: 24px;
  user-select: none;
}

/*Figure out what device is accessing our webpage
CSS Media queries. 760 roughly the size for desktops*/
@media (max-width: 760px) {
  .menu {
    display: none;
    position: absolute;
    background-color: thistle;
    right: 0;
    left: 0; /*remove right and left margins*/
    text-align: center;
    padding: 16px 0;
  }
  .menu li:hover {
    display: inline-block;
    background-color: darksalmon;
    transition: 0.3s ease; /*Doing same transitions for mobile devices*/
  }

  .menu li + li {
    /*li items adjacent to each other*/
    margin-top: 15px;
  }
  input[type="checkbox"]:checked ~ .menu {
    display: block;
  } /*if the input type of type checkbox is checked, we are displaying the menu now, as a block*/

  .hamburger {
    display: block;
  }
}
